In [25]:
import numpy as np
import pandas as pd

In [23]:
val_1500 = pd.read_csv('val_1500_output_raw.txt', sep='\n', names=['summary'])
val_3800 = pd.read_csv('val_3800_output_raw.txt', sep='\n', names=['summary'])
data = pd.concat([val_1500, val_3800], ignore_index=True)

In [24]:
data

                                                summary
0     forrest , whose birth name was katherine feene...
1     wang lian , 35 , has created 1000 stunning ink...
2     iftekhar murtaza, 30, was sentenced to death t...
3     england beat france 55-35 in 'le crunch match ...
4     after tuesday 's grill team show- hosts matty ...
...                                                 ...
5295  ian burnett from jeparit victoria has spent $2...
5296  the black hat bandits are suspected in a two-m...
5297  marlee and jordan follman from brisbane decide...
5298  university of the witwatersrand in johannesbur...
5299  photos show emaciated bodies ; some have eyes ...

[5300 rows x 1 columns]